go/bin
go/bug.ini
go/pkg
go/.idea
vue/.DS_Store
vue/node_modules/
vue/dist/
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/**/*.log
vue/test/unit/coverage
vue/test/e2e/reports
vue/selenium-debug.log
# Editor directories and files
vue/.idea
vue/.vscode
vue/*.suo
vue/*.ntvs*
vue/*.njsproj
vue/*.sln
vue/package-lock.json
vue/src/config/config.js
data

